@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;900&family=Schoolbell&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(../img/pattern.jpg);
	font-family: 'Nunito', sans-serif;
	color: white;
	text-decoration: none;
}

main {
	width: 90%;
	height: 700px;
	background-color: #00f5d4;
	margin-left: auto;
	margin-right: auto;
}

header{
	width: 100%;
	height: 90px;
	background-color: #9b5de5;
	padding-left: 1%;
}

#logo{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 8px;
	
}
.galeria{
	padding: 2%;
	margin-left: 2%;
	margin-top: auto;
}

#titulo{
	float:left;
	position: relative;
	top: 20%;
	left: 5%;
	font-family: 'Schoolbell', display;
	font-weight: bold;
	font-size: 30pt;
}

#titulo2{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 20pt;
	color: black;
	font-family: 'Schoolbell', display;
}

#titulo3{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 16pt;
	color: black;
	font-family: 'Schoolbell', display;
}

#titulobody{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 18pt;
	color: black;
}

#titulobody2{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 14pt;
	color: black;
}

.inicio{
	text-decoration: none;
	color: black;

}

nav{
	width: 39%;
	height: 50px;
	background-color: #9b5de5;
	float: right;
	margin-right: 4%;
}

article{
	width: 100%;
	height: 580px;
	background-color: #00f5d4;
}

#imgindex{
	background-image: url(../img/fondoindex.jpg);
	background-size: cover;
}

#imgconsulta{
	background-image: url(../img/consultanos.jpg);
	background-size: cover;
}

#resumen{
	float: left;
	position: relative;
	top: 25%;
	left: 10%;
	padding: 15px;
	width: 250px;
	background-color: rgba(255, 51, 119, 0.5);
	border-radius: 5px;
	border: dotted;
	border-color: #ffec51;
	border-width: 5px;
	box-shadow: -21px -12px 16px rgba(255, 236, 81, 0.3);
}

#galeria{
	padding-top: 1%;
}

 #galeria li{
 	display: inline-block;
	padding-top: 1%;
 }

 #galeria li a{
 	width: 200px;
 }

#contenedorgaleria{
	width: 100%
	padding-right: 5%;
	padding-left: 20%;
	padding-top: 1%;
	font-size: 9pt;
}

#contenido{
    line-height: 15px;
    padding: 0 10px;
    text-align: justify;
}

#consulta{
	float: left;
	position: relative;
	top: -10px;
	left: 63%;
	padding: 15px;
	width: 400px;
	font-size: 13pt;
	color: white;
}

#formulario{
	float: left;
	position: relative;
	top: 15%;
	left: 30%;
	padding: 15px;
	width: 300px;
	background-color: #ffc2d6;
	border-radius: 5px;
}

 .etiqueta {
 	color: black;
 	font-family: 'Nunito', sans-serif;
 }

.enviar{
	width: 70%;
	height: 35px;
	border-radius: 5px;
	color: white;
	font-family: 'Nunito', sans-serif;
	background-color: #ff3377; 
	font-size: 18px;
	float: left;
}

footer{
	width: 100%;
	height: 45px;
	padding-left: 10px;
	background-color: #9b5de5;
	padding-right: 1%;
	text-decoration: none;
}

#menu{
	padding: 0;
}

#menu li{
	display: inline-block;
	padding-top: 2%;
}

#menu li a{
	width: 150px;
	font-size: 14pt;
	text-align: center;
	text-decoration: none;
	float: right;
	margin-top: 25px;
	padding: 5px;
	color: black;
	background-color: #00f5d4;
	border-radius: 10px;
}

#logo2{
	float: left;
	width: 174px;
	height: 51px;
	
}

p{  font-size: 20px;
	color: black;

}

#credito{
	position: relative;
	padding-top: 10px;
	left: 200px;
	float: left;
	width: 34%;
	color: black;
}

a{
	text-decoration: none;
	color: black;
}

#redes{
	float: right;
}

 #redes li{
 	display: inline-block;
	padding-top: 5%;
 }

 #redes li a{
 	width: 30px;
 }

 .anchoredes{
 	width: 30px;
 }

.anchogaleria{
	width: 300px;
}

 .anchoform{
 	width: 100%
 }

#pdf{
	margin-top: 25px;
	margin-left: 100px;
}

#contenedortexto{
	width: 60%;
	margin-left: 5%;
}

#img{
	float: right;
	margin-right: 200px;
	margin-top: -330px;
}